<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sigma-Viewer</title>
  <script src="axios.min.js"></script>
  <script src="sigma.min.js"></script>
  <script src="plugins/sigma.layout.forceAtlas2.min.js"></script>
  <script src="plugins/sigma.plugins.dragNodes.min.js"></script>
  <style>
    body {
      margin: 0;
      padding: 0;
    }
    #container {
      width: 100vw;
      height: 100vh;
      background: #c0c0c0;
    }
  </style>
</head>
<body>
  <div id="container"></div>
  <script>
    const force = true
    const sigmaInstance = new sigma('container')

    sigmaInstance.settings('autoSize', false)
    sigmaInstance.settings('labelThreshold', 5)
    sigmaInstance.settings('minEdgeSize', 0.1)
    sigmaInstance.settings('maxEdgeSize', 0.5)
    sigmaInstance.settings('minNodeSize', 2)
    sigmaInstance.settings('maxNodeSize', 12)
    sigmaInstance.settings('labelSize', 'proportional')
    sigmaInstance.settings('labelSizeRatio', 1.4)
    sigmaInstance.settings('hoverFontStyle', 'font-size: 48px')
    sigmaInstance.settings('edgeColor', 'source')
    sigmaInstance.settings('defaultEdgeColor', '#d6d6d6')
    sigmaInstance.settings('minArrowSize', 12)
    sigmaInstance.settings('drawLabels', true)

    axios.get('/sigmaData.json')
    .then(response => {
      sigmaInstance.graph.read(response.data)
      sigma.plugins.dragNodes(sigmaInstance, sigmaInstance.renderers[0])
      if (force) {
        sigmaInstance.startForceAtlas2({
          adjustSizes: false,
          edgeWeightInfluence: 0, // how much influence you give to the edges weight. 0 is "no influence" and 1 is "normal".
          scalingRatio: 1, // how much repulsion you want. More makes a more sparse graph.
          strongGravityMode: false,
          gravity: 5, // attracts nodes to the center. Prevents islands from drifting away.
          iterationsPerRender: 5
        })
        setTimeout(() => {
          sigmaInstance.stopForceAtlas2()
        }, 5000)
      }
      sigmaInstance.refresh()
    })
    .catch(error => {
      console.log(error)
    })
  </script>
</body>
</html>
